 {%load static%}



 <script src="{%static 'ERP/jqgrid/js/jquery-1.11.0.min.js' %}"></script>
We support more than 40 localizations
<script type="text/ecmascript"
	src="{%static 'ERP/jqgrid/js/i18n/grid.locale-en.js' %}"></script>
This is the Javascript file of jqGrid
<script type="text/ecmascript"
	src="{%static 'ERP/jqgrid/js/jquery.jqGrid.min.js' %}"></script>

<script type="text/javascript" language="javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>



<link rel="stylesheet" type="text/css" media="screen"
	href="{%static 'ERP/jqgrid/css/ui.jqgrid-bootstrap.css' %}" />

<script type="text/javascript" language="javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
	
	
<script type="text/javascript" language="javascript"
	src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.34/build/pdfmake.min.js">
	
</script>
<script type="text/javascript" language="javascript"
	src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.34/build/vfs_fonts.js"></script> 
	