 {%load static%}


<script src="{%static 'ERP/js/jquery.js' %}"></script>
<script src="{%static 'ERP/js/bootstrap.min.js' %}"></script>
<script src="{%static 'ERP/js/pace.min.js' %}"></script>
<script src="{%static 'ERP/js/wow.min.js' %}"></script>
<script src="{%static 'ERP/js/jquery.nicescroll.js' %}"></script>
<!--form validation-->
<script
	src="{%static 'ERP/assets/jquery.validate/jquery.validate.min.js' %}"></script>
<!--form validation init-->
<script
	src="{%static 'ERP/assets/jquery.validate/form-validation-init.js' %}"></script>
<script
	src="{%static 'ERP/assets/timepicker/bootstrap-datepicker.js' %}"></script>
<script src="{%static 'ERP/js/shortcut.js' %}"></script>
<script src="{%static 'ERP/js/tableExport.js' %}"></script>
<script src="{%static 'ERP/js/jquery.base64.js' %}"></script>
<script src="{%static 'ERP/js/sprintf.js' %}"></script>
<script src="{%static 'ERP/js/jspdf.js' %}"></script>
<script src="{%static 'ERP/js/base64.js' %}"></script>


<script src="{%static 'ERP/js/jquery.app.js' %}"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<style>
.dropup {
    position: absolute;
}
</style>
<script>
	function confirm_delete() {
		var x = confirm("Are you sure you want to delete?");
		if (x) {
			return true;
		} else {
			return false;
		}
	}
	//$(".dropup pull-right open").addClass("opendialog");
</script>
