{% load rest_framework %} {% load common_function %} {% load static %}


<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Project Tracking</h4>
</div>

<div class="modal-body">

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th width="5%">S.No</th>
									<th width="55%">Date</th>
									<th width="10%">Amount</th>
									<th width="25%">Description</th>
									<th width="5%">Action</th>
								</tr>
							</thead>
							<tbody>

								{% for lists_val in data %}
								<tr>
									<td>{{forloop.counter}}</td>
									<td>{{lists_val.date}}</td>

									<td>{{lists_val.amount}}</td>
									<td>{{lists_val.description}}</td>
									<td><a href="/erp/project/project_tracking_delete/{{ lists_val.id }}" onclick="return confirm_delete();" ><i class="fa fa-trash" ></i></a></li>
														 </td> 
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="form-group">
					<label for="date">Date</label> <input type="text"
						class="form-control" id="date" name="date" value=""> <input
						type="hidden" class="form-control" id="project_id"
						name="project_id" value="">
				</div>
				<div class="form-group">
					<label for="amount">Amount</label> <input type="text"
						class="form-control" id="amount" name="amount" value="">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea class="form-control" id="description" name="description"></textarea>
				</div>


			</div>
			<!-- panel-body -->
		</div>
		<!-- panel -->

	</div>


	<!-- panel-body -->
</div>
<!-- panel  -->

<div class="modal-footer">
	<button type="button" class="btn btn-success"
		onclick="return project_tracking_add();" data-dismiss="modal">Save</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

